<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <!-- page start-->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="/projects"><i class="fa fa-home"></i> Home</a></li>
                    <li><a id="load_title" href="/dashboard/<%= data.id%>"><i id="load_icon" class="fa fa-refresh fa-spin"></i></a></li>
                    <li class="active">Statistics</li>
                </ul>
            </div>
        </div>

        <div id="statistics-chart-area" class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Date Filter
                    </header>
                    <div class="panel-body">
                        <div id="date">
                            <input id="date-slider" type="text" value="1;28" data-type="double" data-step="1" data-postfix=" day" data-from-max="1" data-to="7" data-hasgrid="true" />
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Crash Rates
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div id="crash-rate"></div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <header class="panel-heading">
                        Rank Rates
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div id="graph-donut-rank"></div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <header class="panel-heading">
                        SDK Rates
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div id="graph-donut-sdk"></div>
                    </div>
                </section>
            </div>
            <div class="col-md-4">
                <section class="panel">
                    <header class="panel-heading">
                        Country Rates
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>
                    <div class="panel-body">
                        <div id="graph-donut-country"></div>
                    </div>
                </section>
            </div>

            <!--
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            Popular APP Version
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                        </header>
                        <div class="panel-body">
                            <div class="row">
                                <!-- OS Version
                            <div class="progress-table col-sm-12" style="height:326px">
                                <div class="title-body">
                                    <div class="col-xs-4 text-small">Version</div>
                                    <div class="col-xs-8 text-small">Percentage</div>
                                </div>
                                <div class="content-body">
                                    <div class="content-row">
                                        <p>4.4.2</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 67%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-danger">
                                                    <span class="sr-only">67% Complete</span>
                                                </div>
                                            </div>
                                            <div>67%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.1.2</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 17%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-warning">
                                                    <span class="sr-only">17% Complete</span>
                                                </div>
                                            </div>
                                            <div>17%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.3</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 7%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">7% Complete</span>
                                                </div>
                                            </div>
                                            <div>7%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.2.2</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 4%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">4% Complete</span>
                                                </div>
                                            </div>
                                            <div>4%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.0.4</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">3% Complete</span>
                                                </div>
                                            </div>
                                            <div>3%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.0.4</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">3% Complete</span>
                                                </div>
                                            </div>
                                            <div>3%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.0.4</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">3% Complete</span>
                                                </div>
                                            </div>
                                            <div>3%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.0.4</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">3% Complete</span>
                                                </div>
                                            </div>
                                            <div>3%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.0.4</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">3% Complete</span>
                                                </div>
                                            </div>
                                            <div>3%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>4.0.4</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 3%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">3% Complete</span>
                                                </div>
                                            </div>
                                            <div>3%</div>
                                        </div>
                                    </div>

                                    <div class="content-row">
                                        <p>Others</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div style="width: 2%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar progress-bar-info">
                                                    <span class="sr-only">2% Complete</span>
                                                </div>
                                            </div>
                                            <div>2%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        WORLD MAP
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                         </span>
                    </header>

                </section>
            </div>
            <div class="col-md-12" style="margin-top: -20px;">
                <section class="panel">
                    <div class="panel-body">
                        <div class="chartJS" style="width:100%; height: 350px">
                            <canvas id="world_vmap_info"></canvas>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        -->
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Version Error Rate
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="chart">
                            <div id="version-chart"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        Class Error Rate
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                     </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="progress-table large-table col-sm-12">
                                    <div class="title-body">
                                        <div class="col-xs-9 text-small">Class</div>
                                        <div class="col-xs-3 text-small">Percentage</div>
                                    </div>
                                    <div class="content-body" id="erate">

                                      

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Device Error Rate
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="chartJS" style="width:100%; height: 350px">
                            <canvas id="device-errorrate"></canvas>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-12">
                <section class="panel">
                    <header class="panel-heading">
                        Error by Activity
                            <span class="tools pull-right">
                                <a href="javascript:;" class="fa fa-chevron-down"></a>
                            </span>
                    </header>
                    <div class="panel-body">
                        <div class="progress-table large-table col-sm-12">
                            <div class="title-body">
                                <div class="col-xs-9 text-small">Version</div>
                                <div class="col-xs-3 text-small">Percentage</div>
                            </div>
                            <div class="content-body" id="eact">



                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- page end-->
    </section>
</section>
<!--main content end-->
