/**
 * Global
 */
 a.none-style { margin: 0 !important; padding: 0 !important; background-color: transparent !important; }

.text-small
{
	font-size: 12px;
}
.text-bold
{
	font-weight: 700;
}

.text-ellipsis
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .table-text-ellipsis-1 > div
{
	/** Crop line count: 3 */
	display: block;
	max-height: 18.3px; /* font-size * line-height * 3 + padding-top */
	-webkit-line-clamp: 1;
	white-space: nowrap !important;
	overflow: hidden;
	text-overflow: ellipsis;
}

table .table-text-ellipsis > div
{
	/** Crop line count: 3 */
	display: block;
	max-height: 54.6px; /* font-size * line-height * 3 + padding-top */
	-webkit-line-clamp: 3;

	overflow: hidden;
	text-overflow: ellipsis;
}

.label-unhandler { background-color: #D9DD81; }
.label-critical { background-color: #E67A77; }
.label-major { background-color: #79D1CF; }
.label-minor { background-color: #95D7BB; }
.label-native { background-color: #4D5360; }

div.icheck > div > div.radio {
	padding-left: 0;
	margin-right: 30px;
}

/**
 * Header
 */
#top_menu
{
	float: left;
}

.dropdown-menu.extended li .text-link
{
	font-size: 12px;
	list-style: none;
}

.noti-info-detail .notification-meta { position: relative; margin: 0 4px 0 40px; }

.noti-info-detail .notification-info
{
	width: 100%;
	margin: 0 0 0 8px;
	color: #414147;
	word-wrap: break-word;
	word-break: normal;
	white-space: normal;
}
.noti-info-detail .notification-time
{
	font-size: 12px;
	margin: 2px 0 0 8px;
	word-wrap: break-word;
	word-break: normal;
	white-space: normal;
}
.alert-info    .text-link { color: #45a2c9; }
.alert-danger  .text-link { color: #fb6f6b; }
.alert-success .text-link { color: #42b663; }

.noti-info { padding-top: 8px; }

@media (max-width: 479px) {
	.pull-right.top-menu
	{
		position: absolute;
		right: 0;
	}
	.order-search
	{
		margin-top: -10px;
		padding-top: 10px;
		background: white;
		z-index: 1000;
	}
	.top-nav .username { display: none; }
	.top-nav .search:focus { margin-left: -10px; width: 176px; }
}

/**
 * Projects
 */
#projects div.user-heading a img
{
	width: 70px;
	height: 70px;
}

#projects div.user-heading h1
{
	font-size: 18px;
	margin-top: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#projects div.user-heading p
{
	font-size: 14px;
	margin-top: -2px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#projects div.user-heading
{
	cursor: pointer;
}

/**
 * Dashboard
 */
@media (min-width: 992px) and (max-width: 1240px) {
	.mini-stat .mini-stat-icon {
		float: none;
		margin: 0 auto;
		display: block;
	}
	.mini-stat .mini-stat-info {
		text-align: center;
	}
}

#dashboard .top-stats-panel {
    min-height: 214px;
}

#errors-table .tags > p { line-height: 26px; margin: 0; }

#errors-table table {
	table-layout:fixed;
	margin-bottom: 15px !important;
	border-bottom: 1px solid #ccc;
}
#errors-table table thead { background:#474751; color:white; }
#errors-table table th:nth-child(1) { border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; }
#errors-table table th:nth-last-child(1) { border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; }

@media only screen and (max-width: 800px) {
    #errors-table table,
    #errors-table thead,
    #errors-table tbody,
    #errors-table th,
    #errors-table td,
    #errors-table tr {
        display: block;
    }

    #errors-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #errors-table tr { border: 1px solid #ccc; }

    #errors-table td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 35%;
        white-space: normal;
        text-align:left;
    }

    #errors-table td:before {
        position: absolute;
        left: 10px;
        width: 30%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    #errors-table td:before { content: attr(data-title); }

    #errors-table .tags { min-height:42px; }
}

@media (max-width: 1200px) {
	#errors-table table .res-hidden { display: none; }
	#errors-table table th:nth-child(4) { border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; }
}

#dynamic-table {
	width: 100% !important;
}

#dynamic-table .auto-size {
	width: 100% !important;
}

/**
 * Errors
 */
div.tagsearch { padding: 5px }
div.tagsearch span.tags {
	float: left;
	display: block;
	margin: auto 5px 4px auto;
	padding: 8px 9px;
	border: 0 none;
	border-radius: 2px;
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	font-size: 13px;
	text-decoration: none;
	font-family: helvetica;
	background: none repeat scroll 0 0 #CDE69C;
	color: #638421;
	cursor: pointer;
}
div.tagsearch span.tags:active { background-color: #bcd982 }
div.tagsearch span.tags span {
	max-width: 180px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	float: left;
}
div.tagsearch span.tags span:after { content: ' ' }
div.tagsearch span.tags a {
	font-weight: bold;
	color: #82ad2b;
	text-decoration: none;
	font-size: 11px;
}

/**
 * Error Details
 */
@media (min-width: 992px) and (max-width: 1240px) {
	#error-history-graph {
		height: 268px !important;
	}
}
.panel-heading .nav>li>a {
	padding:16px 15px !important;
}
#callstacks table {
	table-layout:fixed;
}
#callstacks table td {
	border-left:0;
	border-right:0;
}
#callstacks table td.bold {
	text-align:center;
	font-weight:700;
	width:30px;
	color:#1FB5AD;
}

#instance table thead { background:#474751; color:white; }
#instance table th:nth-child(1) { border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0; }
#instance table th:nth-last-child(1) { border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0; }
#instance table th,
#instance table td {
	text-align:center;
}
#instance table th:after {
	content: attr(data-label);
	font-size: 12px;
}
#instance .form-group {
	padding-bottom:11px;
	margin-top:-4px;
	margin-bottom:9px;
}

#instancelogs table {
	table-layout:fixed;
}
#instancelogs table td {
	border-left:0;
	border-right:0;
}
#instancelogs table td.bold {
	text-align:center;
	font-weight:700;
	width:30px;
	color:#1FB5AD;
}

#eventpaths table {
	table-layout:fixed;
}
#eventpaths table td {
	border-left:0;
	border-right:0;
}

@media only screen and (max-width: 800px) {
	#instance table th:nth-child(4),
	#instance table th:nth-child(5),
	#instance table th:nth-child(6),
	#instance table td:nth-child(4),
	#instance table td:nth-child(5),
	#instance table td:nth-child(6) { display: none; }

	#instance table th:after {
		content: attr(data-mini);
		font-size: 11px;
	}
	#callstacks table td,
	#instance table td {
		font-size: 11px;
	}
	#instance .control-label {
		font-size: 11px;
	}
	#instance .form-group {
		padding-bottom:9px;
		margin-top:-8px;
		margin-bottom:8px;
	}
	#instancelogs table td
}

.comment-body {
	margin-bottom:12px;
}
.comment-body .comment-block {
	border-bottom: 1px #dfdfdf solid;
}
.comment-body:nth-last-child(2) .comment-block {
	border-bottom: 0;
}
.comment-body div.profile {
	float:left;
	margin-right:8px;
}
.comment-body div.content {
	margin-left:60px;
	min-height:48px;
}
.comment-body img {
	width:50px;
	height:50px;
	border:1px #ccc solid;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.comment-body label {
	font-size:14px;
}
.comment-body div > span:before {
	content:'\2014 \00A0';
}
.comment-body div > span {
	font-size:11px;
}
.comment-body p {
	margin-top:-3px;
	font-size:13px;
}

.panel-body > .row > div {
	margin-bottom: 20px;
}
.panel-body > .row > div > label {
	font-weight: 100;
	font-size: 17px;
}
div.progress-table {
	padding-right:15px;
}
div.progress-table .title-body > div {
	height:26px;
	border-bottom:1px #ccc solid;
	padding-right:15px;
	margin-bottom:8px;
	padding-left:0;
	font-size:13px;
}
div.progress-table .content-row:before,
div.progress-table .content-row:after {
	content: ' ';
	display: table;
}
div.progress-table .content-row > p {
	display:block;
	float:left;
	width:50%;
	margin:0;
	padding-right:15px;
	font-weight: 700;
}
div.progress-table .content-row > div {
	width:50%;
	float:left;
	/*padding-left:15px;*/
	padding-right:15px;
	margin-bottom:5px;
}
div.progress-table .content-row div.progress {
	margin-top:5px;
	margin-right:26px;
	margin-bottom:5px;
}
div.progress-table .content-row div.progress + div {
	float:right;
	margin-top:-20px;
	margin-right:-18px;
	width:42px;
	text-align:center;
}
