<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout/header %>
</head>
<body>
<section id="container" >
    <% include ../layout/dashboard/navibar %>
    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <div class="leftside-navigation">
                <ul class="sidebar-menu" id="nav-accordion">
                    <li>
                        <a class="active" href="<%= getUrl('/project') %>">
                            <i class="fa fa-archive"></i>
                            <span>Projects</span>
                        </a>
                    </li>
                    <li>
                        <a data-toggle="modal" href="#myModal" >
                            <i class="fa fa-plus-circle"></i>
                            <span>Add Project</span>
                        </a>
                    </li>
                    <li class="sub-menu">
                        <a href="javascript:;">
                            <i class="fa fa-question-circle"></i>
                            <span>Tutorial</span>
                        </a>
                        <ul class="sub">
                            <li><a href="https://github.com/honeyqa/honeyqa-android">Android SDK / Guide</a></li>
                            <li><a href="https://github.com/honeyqa/honeyqa-iOS">iOS SDK / Guide</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- sidebar menu end-->
        </div>
    </aside>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <form id="newproject" class="form-horizontal bucket-form">
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="appname-input">APP Name</label>
                            <div class="col-sm-9">
                                <input name="appname" id="appname-input" type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="platform-input">Platform</label>
                            <div class="col-sm-9">
                                <select name="platform" id="platform-input" class="form-control">
                                    <option value="1">Android</option>
                                    <option value="2">iOS</option>
                                    <option value="3">Unity</option>
                                    <option value="4">Cordova</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="category-input">Category</label>
                            <div class="col-sm-9">
                                <select name="category" id="category-input" class="form-control">
                                    <option value="1">Game</option>
                                    <option value="2">Comics</option>
                                    <option value="3">Communications</option>
                                    <option value="4">Finance</option>
                                    <option value="5">Health & Fitness</option>
                                    <option value="6">Medical</option>
                                    <option value="7">Lifestyle</option>
                                    <option value="8">Media & Video</option>
                                    <option value="9">Music & Audio</option>
                                    <option value="10">Photography</option>
                                    <option value="11">News & Magazines</option>
                                    <option value="12">Weather</option>
                                    <option value="13">Productivity</option>
                                    <option value="14">Business</option>
                                    <option value="15">Books & Reference</option>
                                    <option value="16">Education</option>
                                    <option value="17">Shopping</option>
                                    <option value="18">Social</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label" for="stage-input">Stage</label>
                            <div class="col-sm-9">
                                <select name="stage" id="stage-input" class="form-control">
                                    <option value="1">Develop</option>
                                    <option value="2">Test</option>
                                    <option value="3">Release</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="closeNewProject" data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                        <button id="newproject" class="btn btn-success" onclick="addProject()">Add project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- modal -->
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- page start-->
            <div class="row">
                <div class="col-md-12">
                    <!--breadcrumbs start -->
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
                        <li class="active">Active Projects</li>
                        <li id="load"><i id="load_icon" class="fa fa-refresh fa-spin"></i></li>
                    </ul>
                    <!--breadcrumbs end -->
                </div>
            </div>
            <div id="projects" class="row">
                <!-- load -->
            </div>
            <!-- page end-->
        </section>
    </section>
    <!--main content end-->
</section>
<!-- Placed js at the end of the document so the pages load faster -->

<% include scripts %>

<script id="projectTmpl" type="text/x-jsrender">
<div class="col-sm-6 col-md-4 col-lg-3">
    <aside class="profile-nav alt">
        <section class="panel">
            <div class="user-heading alt gray-bg" onclick="javascript:location.href='/dashboard/{{:pid}}';">
                <h1>
                    <span data-placement="top" data-toggle="tooltip" class="tooltips" type="button">{{:name}}</span>
                </h1>
                <p>{{:stage}} stage</p>
            </div>

            <ul class="nav nav-pills nav-stacked">
                <li class="copy">
                    <a href="javascript:;">
                        <i class="fa fa-key"></i> API Key <span class="badge label-inverse pull-right r-activity">{{:apikey}}</span>
                    </a></li>
                <li>
                    <a>
                        <i class="fa fa-bullseye"></i> Platform <span class="badge label-inverse pull-right r-activity">
                            <i class="fa {{:platform_icon}}"></i>
                            <span>{{:platform}}</span></span>
                    </a></li>
                <li><a> <i class="fa fa-bug"></i> Error Count <span class="badge label-primary pull-right r-activity">{{:weekly_errorcount}}</span></a></li>
            </ul>
        </section>
    </aside>
</div>
</script>
<script>
    function updateProject(){
        var template = $.templates("#projectTmpl");
        $.ajax({
            url:'/api/project/list',
            success:function(data){
                if(data.length != 0){
                    var htmlOutput = template.render(data);
                    $("#projects").html(htmlOutput);
                }
                $('#load').remove();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $('#load_icon').attr('class','fa fa-exclamation-triangle');
            }
        });
    }

    function addProject(){
        $.ajax({
            url:'/api/project/add',
            type:"POST",
            data:$("#newproject").serialize(),
            success:function(data){
                updateProject();
                $('#closeNewProject').trigger('click');
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("failed to add project");
            }
        });
    }
    $('#newproject').on('submit', function(e) {
        e.preventDefault();
    });
    updateProject();
</script>

<!--common script init for all pages-->
</body>
</html>
