<section id="main-content">
    <section id="errors" class="wrapper">
        <!-- page start -->

        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="<%= getUrl('/projects') %>"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="<%= getUrl('/dashboard') %>">텔레톡비-v2</a></li>
                    <li><a href="setting-general.html">Settings</a></li>
                    <li class="active">Symbolicate</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <!-- Error Information -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Symbolicate Setting
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-horizontal bucket-form">
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            0af812cb18accc2184ffe2991c205283
                                            <span class="label label-success">v3.1</span>
                                        </div>
                                        <div class="col-sm-3" style="text-align:right">
                                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            0af812cb18accc2184ffe2991c205283
                                            <span class="label label-success">v3.1</span>
                                        </div>
                                        <div class="col-sm-3" style="text-align:right">
                                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-3 col-sm-6">
                                            0af812cb18accc2184ffe2991c205283
                                            <span class="label label-success">v3.1</span>
                                        </div>
                                        <div class="col-sm-3" style="text-align:right">
                                            <button type="button" class="btn btn-danger btn-sm">Remove</button>
                                        </div>
                                    </div>

                                    <div class="Form-group">
                                        <form id="upload" method="post" action="upload.php" enctype="multipart/form-data">
                                            <div id="drop">
                                                Drop Here
                                                <a>Browse</a>
                                                <input type="file" name="upl" multiple />
                                            </div>
                                            <ul></ul>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>
