<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <% include ../header %>
</head>

<body>

<section id="container" ng-controller="DetailViewController">
    <% include ../navibar %>

<!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse" ng-controller="DetailNavSideCtrl">
        <!-- sidebar menu start-->name
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion" >
                <li ng-repeat="link in menu" ng-class="link.menu !== undefined ? 'sub-menu': ''">


                    <a ng-if="hasPathParm(link.path)" ng-class="{'active':link.path === activeMenu}" ui-sref="{{link.path ? link.path:''}}">
                        <i class="fa" ng-class="link.icon"></i>
                        <span translate="{{link.name}}"></span>
                    </a>
                    <a ng-if="!hasPathParm(link.path)" ng-class="{'active':link.path === activeMenu}" href="javascript:;">
                        <i class="fa" ng-class="link.icon"></i>
                        <span translate="{{link.name}}"></span>
                    </a>

                    <ul class="sub" ng-if="link.menu">
                        <li ng-repeat="sub in link.menu" ng-class="{'active':sub.path === activeMenu}" >
                            <a ui-sref="{{sub.path}}" translate="{{sub.name}}"  ></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- sidebar menu end-->

    </div>
</aside>
<!--sidebar end-->

<!--main content start-->
    <ui-view/>
<!--main content end-->




</section>

<!-- Placed js at the end of the document so the pages load faster -->

<!-- TODO:: grunt로 하나로 합치기 -->
<% include ./scripts %>
<script>
    angular.module("app").constant({"PROJECT_INFO": <%- JSON.stringify(project) %>});
</script>
</body>

</html>
