<!--main content start-->
<section id="main-content">
    <section id="errors" class="wrapper">
        <!-- page start -->
        <div class="row">
            <div class="col-md-12">
                <!--breadcrumbs start -->
                <ul class="breadcrumb">
                    <li><a href="/project"><i class="fa fa-home"></i> Home</a></li>
                    <li><a id="load_title" href="/dashboard/<%= data.id%>"><i class="fa fa-refresh fa-spin"></i></a></li>
                    <li><a href="/dashboard/<%= data.id%>/error">Errors</a></li>
                    <li class="active">Details</li>
                </ul>
                <!--breadcrumbs end -->
            </div>
        </div>

        <!-- History Graph, Info -->
        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <div class="panel-body">
                        <div class="top-stats-panel">
                            <div class="daily-visit">
                                <h4 class="widget-h">Error Frequency <i id="load_frequency" class="fa fa-refresh fa-spin"></i></h4>
                                <div id="error-history-graph" style="width:100%; min-width:100px; height: 164px; display: block"></div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon orange"><i class="fa fa-rss"></i></span>
                    <div class="mini-stat-info">
                        <div id="load_wifi">
                            <span><i class="fa fa-refresh fa-spin"></i></span>
                        </div>
                        WiFi
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon tar"><i class="fa fa-signal"></i></span>
                    <div class="mini-stat-info">
                        <div id="load_mobilenetwork">
                            <span><i class="fa fa-refresh fa-spin"></i></span>
                        </div>
                        Mobile Network
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon pink"><i class="fa fa-location-arrow"></i></span>
                    <div class="mini-stat-info">
                        <div id="load_gps">
                            <span><i class="fa fa-refresh fa-spin"></i></span>
                        </div>
                        GPS
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="mini-stat clearfix">
                    <span class="mini-stat-icon green"><i class="fa fa-hdd-o"></i></span>
                    <div class="mini-stat-info">
                        <div id="load_memory">
                            <span><i class="fa fa-refresh fa-spin"></i></span>
                        </div>
                        Memory Usage
                    </div>
                </div>
            </div>
        </div>

        <!-- Error Information -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Error Information
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form class="form-horizontal bucket-form" method="get">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Name</label>
                                        <div class="col-sm-6">
                                            <p id="load_errorname" class="form-control-static text-ellipsis"><i class="fa fa-refresh fa-spin"></i></p>
                                        </div>
                                        <div class="col-sm-3" style="max-width:200px;float:right">
                                            <span id="load_rank" class="label label-danger" style="display:inline-block;width:100%;margin-top:3px;margin-bottom:-4px;padding:6px;font-size:120%;font-weight:500;"><b><i id="load_errorcount" class="fa fa-refresh fa-spin"></i></b> Occured</span>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Class</label>
                                        <div class="col-sm-6">
                                            <p id="load_errorclass" class="form-control-static text-ellipsis"><i class="fa fa-refresh fa-spin"></i></p>
                                        </div>
                                        <div class="col-sm-3" style="max-width:200px;float:right">
                                            <select id="load_status" data-index="1003" class="form-control" style="width:100%;margin-top:-4px;margin-bottom:-4px">
                                                <option value="0">New</option>
                                                <option value="1">Open</option>
                                                <option value="2">Fixed</option>
                                                <option value="3">Ignore</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><i class="fa fa-clock-o"></i> First-seen</label>
                                        <div class="col-sm-3">
                                            <p id="load_errorcreated" class="form-control-static text-ellipsis"><i class="fa fa-refresh fa-spin"></i></p>
                                        </div>
                                        <label class="col-sm-3 control-label"><i class="fa fa-clock-o"></i> Last-seen</label>
                                        <div class="col-sm-3">
                                            <p id="load_errorupdated" class="form-control-static text-ellipsis"><i class="fa fa-refresh fa-spin"></i></p>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label"><i class="fa fa-tags"></i> Tags</label>
                                        <div class="col-sm-9">
                                            <input id="tags_1" type="text" class="tags" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Error Statistics -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Error Statistics <i id="load_status_statistics" class="fa fa-refresh fa-spin"></i>
                        <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <!-- App Version -->
                            <div class="progress-table col-sm-6">
                                <label>App Versions</label>
                                <div class="title-body">
                                    <div class="col-xs-3 text-small">Version</div>
                                    <div class="col-xs-9 text-small">Percentage</div>
                                </div>
                                <div id="load_statistics_appv" class="content-body">
                                </div>
                            </div>

                            <!-- OS Version -->
                            <div class="progress-table col-sm-6">
                                <label>OS Version</label>
                                <div class="title-body">
                                    <div class="col-xs-3 text-small">Version</div>
                                    <div class="col-xs-9 text-small">Percentage</div>
                                </div>
                                <div id="load_statistics_osv" class="content-body">
                                </div>
                            </div>

                            <!-- Device -->
                            <div class="progress-table col-sm-6">
                                <label>Device</label>
                                <div class="title-body">
                                    <div class="col-xs-3 text-small">Name</div>
                                    <div class="col-xs-9 text-small">Percentage</div>
                                </div>
                                <div id="load_statistics_device" class="content-body">
                                </div>
                            </div>

                            <!-- Country -->
                            <div class="progress-table col-sm-6">
                                <label>Country</label>
                                <div class="title-body">
                                    <div class="col-xs-3 text-small">Country</div>
                                    <div class="col-xs-9 text-small">Percentage</div>
                                </div>
                                <div id="load_statistics_country" class="content-body">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Stack Trace, etc.. -->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading tab-bg-dark-navy-blue" style="background:#e6e7ec !important">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#callstacks">Callstacks  <i id="load_status_callstack" class="fa fa-refresh fa-spin"></i></a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#instance">Instance  <i id="load_status_instance" class="fa fa-refresh fa-spin"></i></a>
                            </li>
                            <li class="">
                                <a data-toggle="tab" href="#eventpath">EventPath  <i id="load_status_eventpath" class="fa fa-exclamation-triangle"></i></a>
                            </li>
                        </ul>
                        <span class="tools pull-right" style="margin-top:-18px">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                        </span>
                    </header>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="callstacks" class="tab-pane active">
                                <table class="table table-bordered table-striped">
                                    <tbody id="load_callstacks">
                                    </tbody>
                                </table>
                            </div>
                            <div id="instance" class="tab-pane">
                                <table class="table table-striped">
                                    <thead>
                                    <th data-label="APP Ver." data-mini="APP" style="width:10%"></th>
                                    <th data-label="Country" data-mini="Area" style="widht:10%"></th>
                                    <th data-label="Device" data-mini="Device" style="widht:20%"></th>
                                    <th data-label="OS Ver." data-mini="OS" style="width:10%"></th>
                                    <th data-label="Wifi" data-mini="Wifi" style="width:10%"></th>
                                    <th data-label="Mobile" data-mini="Mobile" style="width:10%"></th>
                                    <th data-label="Logs" data-mini="Logs" style="width:10%"></th>
                                    <th data-label="EventPaths" data-mini="EventPaths" style="width:10%"></th>
                                    <th data-label="Details" data-mini="Details" style="width:10%"></th>
                                    </thead>
                                    <tbody id="load_instances">
                                    </tbody>
                                </table>
                            </div>
                            <div id="eventpath" class="tab-pane">EventPath 준비중입니다.
                                <div id="sankey_basic" style="width: 900px; height: 300px;"></div>
                            </div>
                            <div id="comments" class="tab-pane">
                                <div class="row">
                                    <div class="comment-body col-sm-12">
                                        <div class="comment-block">
                                            <div class="profile">
                                                <img src="<%= resourceUrl('/images/avatar1_small.jpg') %>" alt="" />
                                            </div>
                                            <div class="">
                                            </div>
                                            <div class="content">
                                                <div>
                                                    <label>John Doe</label>
                                                    <span>12 minute ago</span>
                                                    <p>
                                                        <span class="text-primary text-bold">@James Kameron</span> Fixed a bug, thank you.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-body col-sm-12">
                                        <div class="comment-block">
                                            <div class="profile">
                                                <img src="<%= resourceUrl('/images/avatar1_small.jpg') %>" alt="" />
                                            </div>
                                            <div class="content">
                                                <div>
                                                    <label>John Doe</label>
                                                    <span>5 minute ago</span>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus lobortis erat et sollicitudin efficitur. Maecenas eget massa eget mauris ornare commodo. Aenean nunc nibh, rutrum semper libero sit amet, scelerisque ultricies diam. Nunc ex risus, malesuada non risus ut, dapibus ullamcorper felis. Suspendisse quis sem pretium, imperdiet magna ac, facilisis magna. Aenean auctor luctus dapibus. Donec convallis sem tristique, sodales eros sit amet, eleifend quam. Aliquam id rhoncus tortor. Praesent fringilla diam eros, non vehicula lectus sodales ac.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <form id="comment-form" class="form-horizontal">
                                            <div class="input-group m-bot15">
                                                <input type="text" class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-danger" type="submit">Comment</button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <!-- Instance log Modal -->
        <div id="instanceLogsModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="font-weight: 700;">Logs</h4>
                    </div>
                    <div class="modal-body">
                        <i id="load_status_instancelogs" class="fa fa-refresh fa-spin"></i>
                        <div id="instancelogs">
                            <table class="table table-bordered table-striped">
                                <tbody id="load_instancelogs">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- EventPaths Modal -->
        <div id="eventPathsModal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="font-weight: 700;">EventPaths</h4>
                    </div>
                    <div class="modal-body">
                        <i id="load_status_eventpaths" class="fa fa-refresh fa-spin"></i>
                        <div id="eventpaths">
                            <table class="table table-hover table-striped no-footer">
                                <thead style="background: #474751; color: white;">
                                    <tr>
                                        <th style="width:20%">Date</th>
                                        <th>ClassName</th>
                                        <th style="width:30%">Method/Line</th>
                                    </tr>
                                </thead>
                                <tbody id="load_eventpaths">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
</section>
