<!--main content start-->
<section id="main-content" ng-controller="StatisticsController">
    <section class="wrapper">
        <!-- page start-->

        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="http://localhost:3000/projects"><i class="fa fa-home"></i> Home</a></li>
                    <li><a href="/{{project.key}}">{{project.name}}</a></li>
                    <li>Statistics</li>
                    <li class="active">
                        <select size="1" name="editable-sample_length" class="xsmall" ng-model="days" ng-change="changeDays()">
                            <option value="1" selected="selected">1 day</option>
                            <option value="7">7 days</option>
                            <option value="14">14 days</option>
                            <option value="30">30 days</option>
                        </select>
                    </li>
                </ul>


            </div>
        </div>

        <div class="row">
            <div class="col-sm-12" ng-controller="ProjectDauController">
                <section class="panel">
                    <header class="panel-heading">
                        Daily Active Users
                    </header>
                    <div class="panel-body">
                        <div id="dau-bar"></div>
                    </div>
                </section>
            </div>
        </div>


        <div id="statistics-chart-area" class="row">
            <div class="col-md-4" ng-controller="errorActivityController">
                <section class="panel">
                    <header class="panel-heading">
                        Error by Activity

                    </header>
                    <div class="panel-body">
                        <div class="progress-table large-table col-sm-12" style="height:326px">
                            <div class="title-body">
                                <div class="col-xs-9 text-small">Activity</div>
                                <div class="col-xs-3 text-small">Percentage</div>
                            </div>
                            <div class="content-body">
                                <div class="content-row" ng-repeat="item in data">
                                    <p class="text-ellipsis">{{item.name}}</p>
                                    <div>
                                        <div class="progress progress-xs">
                                            <div ng-class="getItemClass(item)" ng-style="{'width':item.value+'%'}"  aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar">
                                            </div>
                                        </div>
                                        <div>{{item.value}}</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4" ng-controller="classErrorRateController">
                <section class="panel">
                    <header class="panel-heading">
                        Class Error Rate
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                     </span>
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-9">
                                <div class="progress-table large-table col-sm-12" style="height:326px">
                                    <div class="title-body">
                                        <div class="col-xs-9 text-small">Class</div>
                                        <div class="col-xs-3 text-small">Percentage</div>
                                    </div>
                                    <div class="content-body">
                                        <div class="content-row" ng-repeat="item in data">
                                            <p class="text-ellipsis">{{item.label}}</p>
                                            <div>
                                                <div class="progress progress-xs">
                                                    <div ng-class="getItemClass(item)" ng-style="{'width':item.value+'%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar">
                                                        <span class="sr-only">{{item.value}}</span>
                                                    </div>
                                                </div>
                                                <div>{{item.value}}%</div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-md-4" ng-controller="OsVersionController">
                <section class="panel">
                    <header class="panel-heading">
                        Os Version Error Rate
                    </header>
                    <div class="panel-body">
                        <div class="row">
                            <!-- OS Version -->
                            <div class="progress-table col-sm-12" style="height:326px">
                                <div class="title-body">
                                    <div class="col-xs-3 text-small">Version</div>
                                    <div class="col-xs-9 text-small">Percentage</div>
                                </div>
                                <div class="content-body">

                                    <div class="content-row" ng-repeat="item in data">
                                        <p class="text-ellipsis">{{item.label}}</p>
                                        <div>
                                            <div class="progress progress-xs">
                                                <div ng-class="getItemClass(item)" ng-style="{'width':item.value+'%'}" aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" class="progress-bar">
                                                    <span class="sr-only">{{item.value}}</span>
                                                </div>
                                            </div>
                                            <div>{{item.value}}%</div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>



        <div class="row">
            <div class="col-md-6" ng-controller="ProjectCrashRateController">
                <section class="panel">
                    <header class="panel-heading">
                        Crash Rates
                    </header>
                    <div class="panel-body">
                        <div id="crash-rate"></div>
                    </div>
                </section>
            </div>
            <div class="col-md-6" ng-controller="ProjectVersionController">
                <section class="panel">
                    <header class="panel-heading">
                        Version Error Rate

                    </header>
                    <div class="panel-body">
                        <div class="chart">
                            <div id="version-chart"></div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" ng-controller="DeviceErrorRateController">
                <section class="panel">
                    <header class="panel-heading">
                        Device Error Rate

                    </header>
                    <div class="panel-body">
                        <div class="chartJS" style="width:100%; height: 350px">
                            <div id="device-graph"></div>
                            <div id="device-errorrate"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6"  ng-controller="ProjectWorldController">
                <section class="panel">
                    <header class="panel-heading">
                        WORLD MAP
                    </header>
                    <div class="panel-body">
                        <div class="chartJS" style="width:100%; height: 350px">
                            <div id="world_vmap_info"></div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <div class="row">

        </div>

        <!-- page end-->
    </section>
</section>
<!--main content end-->
